.btn-donate {
  position: absolute;
  background-color: #d5d3d170;
  bottom: 100px;
  right: 0;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.footer {
  padding: 20px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-footer {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-footer p {
  line-height: 0%;
}

.box-icon {
 display: flex;
 justify-content: center;
 margin: 10px;
}

.box-icon .social-icon {
    width: 9%;
    height: 70%;
    margin-left: 20px;
  }